* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* For Nav Bar */
nav {
  font-family: "Cairo", sans-serif;
  font-family: "Jomhuria", cursive;
  font-family: "Lobster", cursive;
  font-family: "Merriweather", serif;
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 1px;
}
.navbar-brand span {
  background-color: #ff9900;
  color: black;
  font-size: 35px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

nav ul li a:hover {
  background-color: #ff9900;
  font-weight: bold;
  color: white !important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  opacity: 1 !important;
}

/* About the project  */
.lead {
  font-size: 90px;
  width: fit-content;
}

.sectionTypeWriteEffect {
  box-shadow: 2px 2px 40px #ff9900;
}



/* Test Suites and Test Cases seciotn */
.haeding {
  text-align: center;
  margin: 50px;
  position: relative;
  z-index: -1;
}

.haeding::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 3px;
    background-color: #ff9900;
    left: 30%;
    top: 100%;
    right: 0;
    bottom: 0;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    0% {
        left: 30%;
        top: 100%;
        right: 0;
        bottom: 0;
    }
    25% {
        left: 50%;
        top: 100%;
        right: 0;
        bottom: 0;
    }
    50% {
        left: 70%;
        top: 100%;
        right: 0;
        bottom: 0;
    }

    
}
/* Number of test cases and test suites */

.statsticsCases {
  display: grid;
    font-weight: bold;
    grid-template-columns: 40% 40%;
    
    grid-template: "testSuites  testCases";
    justify-content: space-around;
    margin-bottom: 30px;
   
}
.testSuites {
  display: flex;
  grid-area: testSuites;
  background-color: red;  
  height: 400px;
  width: 500px;
  justify-content: center;
  padding: 10px;
}

.testCases {
  display: flex;
  grid-area: testCases;
  background-color: red;
  height: 400px;
  width: 500px;
  justify-content: center;
  padding: 10px;
}




/* .statsticsCases h6::first-letter {
  color: #ff9900;
  font-weight: bold;
  font-size: 25px;
} */


.table-container {
  margin: 40px auto 0;
  padding: 0 2%;
  margin-bottom: -5px;
}
.table {
  padding: 0 10%;
  font-size: 15px;
  border-collapse: collapse;
  width: 100%;
}


.table thead {
  background-color: #cc9964;
  color: white;
  font-weight: bold;
  text-align: center;
  position: sticky;
  top: 0;
}


.table thead tr th {
  padding: 10px;
  border: 1px solid black;
  vertical-align: top;
}

.table tbody tr th {
  background-color: #212529;
  color: white;
  font-weight: lighter;
  padding: 8px;
  text-align: center;
  border: 1px solid #dee2e685;
  vertical-align: middle;
}

.passButton {
  background-color: green;
  color: white;
  border-radius: 20px;
  border:none;
  width: 80px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.testCaseStepsCell {
  width: 300px;
}

/* Responsive Table */
@media (max-width:1314px) {
    .table thead {
        display: none;
    }
    .table, .table tbody,.table tr,.table th {
        display: block;
        width: 100%;
    }
    .table tr {
        margin-bottom: 15px;
    }
    .table tbody tr th {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table th::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }
    table ul li {
        margin:0;
        padding:0;
        list-style: none;
    }
}

nav {
  box-shadow: 2px 3px 20px #cc9964;
}

/* Rotate Image settings */

.imageSettings {
  animation-name: rotateSettings;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes rotateSettings {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
 
  100%{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
  
}

.haeding h1::first-letter {
  color: #FF9F00;
}

/* Footer */
footer {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background-color: #212529;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 40px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin:10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:1rem 0 3rem 0;
  margin-right: 35px;
}

.socials li {
  margin:0 10px;
}
.socials a{
  text-decoration: none;
  color: #cc9964;
}

.socials a i {
  font-size: 1.1rem;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.socials a:hover i {
  color: #ff9900;
  transform: scale(2,2);
  -webkit-transform: scale(2,2);
  -moz-transform: scale(2,2);
  -ms-transform: scale(2,2);
  -o-transform: scale(2,2);
}
